{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <table style="width:100%">
        <tr>
            <th>Stock symbol</th>
            <th>Number of shares</th>
            <th>Current price</th>
            <th>Transaction</th>
        </tr>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{stock.symbol}}</td>
                <td>{{stock.shares}}</td>
                <td>{{stock.price}}</td>
                <td>{{stock.operation}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}