{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <table style="width:100%">
        <tr>
            <th>Stock symbol</th>
            <th>Stock name</th>
            <th>Number of shares</th>
            <th>Current price</th>
            <th>Total value</th>
        </tr>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{stock.symbol}}</td>
                <td>{{stock.name}}</td>
                <td>{{stock.shares}}</td>
                <td>{{stock.price | usd}}</td>
                <td>{{stock.total | usd}}</td>
            </tr>
            {% endfor %}

            <tr>
                <th>User Cash</th>
                <th>Total Cash</th>
            </tr>
            <tr>
                <td>{{user_cash | usd}}</td>
                <td>{{total_cash | usd}}</td>
            </tr>
        </tbody>
        <tfoot>
            <form action="/" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="add" placeholder="Amount" type="number">
                <button class="btn btn-primary" type="submit">Add cash</button>
            </form>
        </tfoot>
    </table>
{% endblock %}